{% extends "base.html" %}
{% block content %}
    <h1>
        Signup
    </h1>
    <form action="/register" method="POST" name="signup">
        <div class = "input">
            <div>
                <label for="user">Username: 
                </label>
                <br>
                <label for="pwd">Password:
                </label>
                <br>
                <label for="pwd2">Confirm Password: 
                </label>
                <br>
                <label for="email">Email (optional): 
                </label><br>
                <br>
                <input id = "submit" type="submit"/>
            </div>
            <div>
                <input type="text" name="username" id="user" value="{{username}}"/>
                <p class="error">{{user_error}}</p><br>
                <input type="password" name="password" id="pwd" />
                <p class="error">{{pwd_error}}</p><br>
                <input type="password" name="passwordc" id="pwd2" />
                <p class="error">{{pwd2_error}}</p><br>
                <input type="text" name="email" id="email" value="{{email}}"/>
                <p class="error">{{email_error}}</p>
            </div>
        </div>

    </form>
{% endblock %}